.w{/*公共类*/
    width: 1190px;
    margin: 0 auto;
}
ul,h1,input{
    margin: 0;
    padding: 0;
}
input,button{
    border: 0;
    outline: none;/*取消轮廓边框*/
}
ul{
    list-style: none;

}
a{
    text-decoration: none;
    color: #999;
    font-size: 12px;
}
a:hover{
    color:  #c81623;
}
body{
    background-color: snow;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
/*公共颜色*/
.style-red{
    color: #f10215;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?1x1j55');
    src:  url('../fonts/icomoon.eot?1x1j55#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1x1j55') format('truetype'),
    url('../fonts/icomoon.woff?1x1j55') format('woff'),
    url('../fonts/icomoon.svg?1x1j55#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

header{
    height: 80px;
    background-color: palegreen;
}
/*导航栏*/
.shortcut{
    height: 32px;
    background-color: #e3e4e5;
    border: 1px solid #dddddd;
    font-size: 12px;
    line-height: 32px;
    color: #999999;
}
.city{
    margin-left:200px ;
}
.shortcut li{
    float: left;
    font-family: "icomoon";
    font-style: normal;
    padding-left: 5px;;
}
.spacer{
    width: 1px;
    height: 10px;
    background-color: #ccc;
    margin: 10px 12px 0;
}
.mobile{
    position: relative;
}
.mobile img{
    position: absolute;
    top: 24px;
    left: -10px;
    border: 1px solid #cccccc;
    padding: 3px;
}
/*中部*/
.middle{
    height: 140px;
    /*background-color: palegoldenrod;*/
    position:relative;
}
.logo{
    position: absolute;
    top: -32px;
    left: 0;
    box-shadow: 0px -10px 10px rgba(0,0,0,.3);
}
.logo a {
    display: block;
    background: #fff url(../images/logo.png) no-repeat;
    width: 190px;
    height: 170px;
}
.form{
    width: 550px;
    height: 35px;
    background-color: pink;
    position: absolute;
    top: 25px;
    left: 300px;
}
.form input{
    width: 498px;
    height: 33px;
    border: 1px solid #c81623;
    float: left;
    font-size: 14px;
    padding-left: 3px;
    box-sizing: border-box;/*解决盒子掉下来问题*/
}
.form button{
    width: 50px;
    height: 35px;
    background-color: #c81623;
    float: left;
    font-family: "icomoon";
    font-style: normal;
    color: #fff;
    font-size: 15px;
}
.shop-car{
    width: 188px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #c81623 ;
    position: absolute;
    top: 25px;
    right: 120px;
    text-align: center;

}
.shop-car a{
    color:  #c81623;
}
.shop-car i {
    font-family: "icomoon";
    font-style: normal;
    color:  #c81623;
    margin-right: 4px;
    font-size: 20px;
}
.shop-car span{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0px;
    right: 111px;
    color:  #fff;
    border-radius: 50%;
    font-size: 14px;
    line-height: 15px;
    background-color: #c81623;
}
.hotwords{
    position: absolute;
    top: 60px;
    left: 300px;
}
.navitems{
    width: 770px;
    height: 40px;
    /*background-color: red;*/
    position: absolute;
    bottom:0;
    left: 203px;
    overflow: hidden;
    line-height: 40px;
}
.navitems li{
    margin-left: 30px;
}
.navitems a{
    font-size: 16px;
    font-width: 700;
    color: #555;
}
.navitems a:hover{
    color: #c81623;
}